
a {
	@include transition(all 0.15s ease);
	color: #fff;
	
	&:hover {
	  border-bottom: 1px solid #fff;
	}
}

.btn,
button {
  @include transition(background 0.15s ease);
  position: relative;
  width: 100%;
  padding: 2em 0;
  border: 10px solid #fff;
  background: $yellow;
  color: $grey;
  font: $bold 20px/1em $sans;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  
  &:hover {
    background: lighten($yellow, 10%);
  }
  
  .icon-arrow {
   @include transition(all 0.3s ease);
   @include translateX(0);
  }  
  
  &:hover .icon-arrow {
   @include translateX(4px);
  }

}

.form-radio label {
  position: relative;

  &:after {
    @include transition(all 0.3s ease);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 0;
  }
  
  &:hover:after {
    height: 100%;
  }

  &:hover span:after {
    opacity: 1;
    @include translateY(4px);
  }
  
  span {
    position: relative;
    
    &:after {
      @include transition(all 0.3s ease);
      @include translateY(10px);
      opacity: 0;
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: #fff;
    } 
  }
}

.form-radio input:checked + label span:after {
  opacity: 1;
  @include translateY(4px);
}
