
a {
	@include transition(all 0.15s ease);
	color: #fff;
	
	&:hover {
	  border-bottom: 1px solid #fff;
	}
}

.btn,
button {
  @include transition(background 0.15s ease);
  position: relative;
  width: 100%;
  padding: 2em 0;
  border: 10px solid #fff;
  background: $yellow;
  color: $grey;
  font: $bold 20px/1em $sans;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  
  &:hover {
    background: lighten($yellow, 10%);
  }
  
  .icon-arrow {
   @include transition(all 0.3s ease);
   @include translateX(0);
  }  
  
  &:hover .icon-arrow {
   @include translateX(4px);
  }

}

