
$blue:        #1bc7d5;
$blue-md:     #0fb1c3;
$blue-md-dk:  #19b5c2;
$blue-dk:     #0b9cac;

$green:       #a8bf50;
$green-md:    #91ac3a;
$green-md-dk: #94aa41;
$green-dk:    #86a12e;

$red:         #f0223a;
$red-md:      #e91323;
$red-md-dk:   #d71a30;
$red-dk:      #bb121f;

$yellow:      #fec014;

$grey:        #4d4d4f;