
.form-item {
  margin-bottom: 1px;
  padding-top: 1.5em;
  text-align: center;

  &:last-of-type {
    margin-bottom: 0;
  }
}

label {
  display: block;
  color: #fff;
  font-style: 14px;
  font-weight: $bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/** Radio ============**/

.form-radio {
  position: relative;

  input {
    opacity: 0;
    float: left;
    width: 20px;
  }
}

.form-radio input + label {
  @include transition(background 0.2s ease-in);
  cursor: pointer;
}
