
[class*="icon-"] {
  display: inline-block;
  background: $sprite-png no-repeat 0 0;
/*   background: $sprite no-repeat 0 0; */
}

.icon-circle-1 {
  width: 175px;
  height: 179px;
}

.icon-circle-2 {
  width: 189px;
  height: 178px;
  background-position: 0 -183px;
}

.icon-circle-3 {
  width: 170px;
  height: 179px;
  background-position: 0 -365px;
}

.icon-circle-4 {
  width: 170px;
  height: 179px;
  background-position: 0 -550px;
}

[class*="icon-error-"] {
  width: 31px;
  height: 27px;
}

.icon-error-white {
  background-position: 0 -734px;
}

.icon-error-grey {
  margin-right: 2px;
  background-position: -32px -734px;
  vertical-align: -6px;
}

.icon-arrow {
  width: 9px;
  height: 15px;
  background-position: -74px -734px;
  vertical-align: -1px;
}


/*
.icon-circle-1 {
  width: 174px;
  height: 176px;
}

.icon-circle-2 {
  width: 188px;
  height: 176px;
  background-position: 0 -178px;
}

.icon-circle-3 {
  width: 167px;
  height: 176px;
  background-position: 0 -356px;
}
*/
