
$sprite: image-url("sprite.svg");
$sprite-png: image-url("sprite.png");

$sprite-logos: image-url("sprite-logos.svg");
$sprite-logos-png: image-url("sprite-logos.png");

$checkmark: image-url("checkmark.svg");
