
$large:   62.5em;
$medium:  50em;
$small:   37.5em;
$xsmall:  27.5em;


@mixin bp-max-width($point) {
	@media (max-width: $point) { @content; }
}

@mixin bp-max-height($point) {
	@media (max-height: $point) { @content; }
}

@mixin bp-min-width($point) {
	@media (min-width: $point) { @content; }
}

@mixin bp-min-height($point) {
	@media (min-width: $point) { @content; }
}

@mixin bp-max-min($max, $min) {
	@media (max-width: $max) and (min-width: $min) { @content; }
}


@mixin bp-ipad-land() {
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    @content;
  }

}

@mixin bp-ipad-port() {
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    @content;
  }
}