.footer {
  @include cf;
  padding: 1em 0;
  background: $grey;
  color: #fff;
  font-size: 11px;
  text-align: center;

  @include bp-min-width($large) {
    text-align: left;
    
    p {
      padding-left: 3em;
    }
  }
}
