
.header {
  text-align: center;

  @include bp-min-width($medium) {
    text-align: left;
  }
  
  .wrapper {
    @include bp-min-width($medium) {
      position: relative;
      height: 198px;
    }
  }
}

.logo {
  margin: 1em auto;
  padding: 0 1em;

  @include bp-min-width($medium) {
    @include vertical-align;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0 340px 0 1em;
  }
}

.tagline {
  margin-bottom: 1px;
  padding: 1.5em 1em;
  background: $yellow;

  @include bp-min-width($medium) {
    position: absolute;
    top: 0;
    right: 0;
    width: 340px;
    height: 100%;
    padding: 0 10em 0 2em;

    h2 {
      @include vertical-align;
    }
  }

}