/* Vendor Dependencies */
/* Global */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
* {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

iframe {
  width: 100%;
}

object {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none;
}

body {
  font: 400 1em/1.5em "Montserrat", Helvetica, arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  line-height: 1;
}

h1 {
  color: #4d4d4f;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

[class*="icon-"] {
  display: inline-block;
  background: url('/assets/images/sprite.png?1399937133') no-repeat 0 0;
  /*   background: $sprite no-repeat 0 0; */
}

.icon-circle-1 {
  width: 175px;
  height: 179px;
}

.icon-circle-2 {
  width: 188px;
  height: 178px;
  background-position: 0 -183px;
}

.icon-circle-3 {
  width: 170px;
  height: 179px;
  background-position: 0 -365px;
}

[class*="icon-error-"] {
  width: 31px;
  height: 27px;
}

/*
.icon-error-grey {
  background-position: ;
}

.icon-error-white {
  background-position: ;
}
*/
/*
.icon-circle-1 {
  width: 174px;
  height: 176px;
}

.icon-circle-2 {
  width: 188px;
  height: 176px;
  background-position: 0 -178px;
}

.icon-circle-3 {
  width: 167px;
  height: 176px;
  background-position: 0 -356px;
}
*/
/* 36px*/
.grid {
  *zoom: 1;
  margin: 0 -3% 24px -3%;
}
.grid:before, .grid:after {
  content: " ";
  display: block;
}
.grid:after {
  clear: both;
}
@media (min-width: 50em) {
  .grid {
    margin: 0 -18px 24px -18px;
  }
}

[class*='col-'] {
  float: left;
  width: 100%;
  padding: 0 3%;
}
@media (min-width: 50em) {
  [class*='col-'] {
    padding: 0 18px;
  }
}

@media (min-width: 50em) {
  .col-3-4 {
    width: 75%;
  }
}

@media (min-width: 50em) {
  .col-2-3 {
    width: 66.66%;
  }
}

@media (min-width: 50em) {
  .col-1-2 {
    width: 50%;
  }
}

@media (min-width: 50em) {
  .col-1-3 {
    width: 33.33%;
  }
}

@media (min-width: 50em) {
  .col-1-4 {
    width: 25%;
  }
}

.wrapper {
  *zoom: 1;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.wrapper:before, .wrapper:after {
  content: " ";
  display: block;
}
.wrapper:after {
  clear: both;
}

a {
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  color: #fff;
}
a:hover {
  border-bottom: 1px solid #fff;
}

.btn,
button {
  -moz-transition: background 0.15s ease-in;
  -o-transition: background 0.15s ease-in;
  -webkit-transition: background 0.15s ease-in;
  transition: background 0.15s ease-in;
  width: 100%;
  padding: 2em 0;
  border: 10px solid #fff;
  background: #fec014;
  color: #4d4d4f;
  font: 700 20px/1em "Montserrat", Helvetica, arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.btn:hover,
button:hover {
  background: #fece47;
}

label {
  display: block;
  color: #fff;
  font-style: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/** Radio ============**/
.form-radio {
  position: relative;
}
.form-radio input {
  opacity: 0;
  float: left;
  width: 20px;
}

.form-radio input + label {
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  -webkit-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
  cursor: pointer;
}

/* Modules */
/* Pages */
.form-item {
  position: relative;
  margin-bottom: 1px;
  padding-top: 1.5em;
  text-align: center;
}
@media (min-width: 50em) {
  .form-item {
    *zoom: 1;
    min-height: 304px;
    padding: 2em 21.25em 2em 0;
  }
  .form-item:before, .form-item:after {
    content: " ";
    display: block;
  }
  .form-item:after {
    clear: both;
  }
}
@media (min-width: 62.5em) {
  .form-item {
    padding: 3.75em 21.25em 1em 1.5em;
    text-align: left;
  }
}
.form-item:last-of-type {
  margin-bottom: 0;
}

[class*="icon-circle"] {
  margin-bottom: 1em;
}
@media (min-width: 62.5em) {
  [class*="icon-circle"] {
    position: absolute;
    top: 3.75em;
    left: 1.75em;
  }
}

.form-question {
  margin-bottom: 1.5em;
  padding: 0 10%;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.1em;
}
@media (min-width: 62.5em) {
  .form-question {
    padding: 0 1em 0 9em;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.05em;
  }
}

@media (min-width: 50em) {
  .form-answers {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 1px;
    width: 340px;
    height: 100%;
  }
}

@media (min-width: 50em) {
  .form-group {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.form-item:nth-of-type(1) {
  background: #1bc7d5;
  border-top: 10px solid #19b5c2;
}
@media (min-width: 50em) {
  .form-item:nth-of-type(1) {
    border-top: none;
    border-left: 14px solid #19b5c2;
  }
}
.form-item:nth-of-type(1) .form-answers {
  background: #0fb1c3;
}
.form-item:nth-of-type(1) label {
  background: #0fb1c3;
  padding: 1em 0;
}
@media (min-width: 50em) {
  .form-item:nth-of-type(1) label {
    padding: 0.75em 1em 0.75em 2em;
    text-align: left;
  }
}
.form-item:nth-of-type(1) label:hover {
  background: #0b9cac;
}
.form-item:nth-of-type(1) .form-radio input:checked + label {
  background: #0b9cac;
}

.form-item:nth-of-type(2) {
  background: #a8bf50;
  border-top: 10px solid #91ac3a;
}
@media (min-width: 50em) {
  .form-item:nth-of-type(2) {
    border-top: none;
    border-left: 14px solid #94aa41;
  }
}
.form-item:nth-of-type(2) .form-answers {
  background: #91ac3a;
}
.form-item:nth-of-type(2) label {
  background: #91ac3a;
}
.form-item:nth-of-type(2) label:hover {
  background: #86a12e;
}
.form-item:nth-of-type(2) .form-radio input:checked + label {
  background: #86a12e;
}

.form-item:nth-of-type(3) {
  background: #f0223a;
  border-top: 10px solid #d71a30;
}
@media (min-width: 50em) {
  .form-item:nth-of-type(3) {
    border-top: none;
    border-left: 14px solid #d71a30;
  }
}
.form-item:nth-of-type(3) .form-answers {
  background: #e91323;
}
.form-item:nth-of-type(3) label {
  background: #e91323;
}
.form-item:nth-of-type(3) label:hover {
  background: #bb121f;
}
.form-item:nth-of-type(3) .form-radio input:checked + label {
  background: #bb121f;
}

.form-two-options {
  *zoom: 1;
}
.form-two-options:before, .form-two-options:after {
  content: " ";
  display: block;
}
.form-two-options:after {
  clear: both;
}
.form-two-options .form-radio {
  float: left;
  width: 50%;
}
@media (min-width: 50em) {
  .form-two-options .form-radio {
    float: none;
    width: 100%;
    text-align: center;
  }
}
.form-two-options label {
  padding: 4em 0;
}

.error .form-question {
  color: #f00;
}

/* Sections */
.header {
  text-align: center;
}
@media (min-width: 50em) {
  .header {
    text-align: left;
  }
}
@media (min-width: 50em) {
  .header .wrapper {
    height: 198px;
  }
}

.logo {
  margin: 1em 0;
}
@media (min-width: 50em) {
  .logo {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    float: left;
    margin: 0;
    padding-left: 2em;
  }
}

.tagline {
  margin-bottom: 1px;
  padding: 2em 1em;
  background: #fec014;
}
@media (min-width: 50em) {
  .tagline {
    float: right;
    width: 340px;
    height: 100%;
    padding: 0 10em 0 2em;
  }
  .tagline h1 {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.footer {
  *zoom: 1;
  padding: 1em 0;
  background: #4d4d4f;
  color: #fff;
  font-size: 11px;
  text-align: center;
}
.footer:before, .footer:after {
  content: " ";
  display: block;
}
.footer:after {
  clear: both;
}
